$sansfont: "Verdana";
$bodybg: #103254;
$articlebg: #bbccdd;
$articlewidth: 500px;
$textcolor: default;
$linkcolor: default;

body {
	font-family: $sansfont;
	background-color: $bodybg;
	color: $textcolor;
	
	margin: 50px;
}

table {
	padding:2px;
	border: 2px ridge;
}

td {
	padding: 5px;
	border: 1px ridge;
}

.field {
	font-size: 12px;
}

.head {
	font-weight: bold;
	font-size: 12px;
}

.total {
	color: red;
}

.subtitle{
	color: white;
}

article{
	background-color: $articlebg;
	
	width: $articlewidth;
	padding: 20px;
}

a {
	font-size: 12px;
	color: $linkcolor;
}

p {
	font-size: 12px;
	margin: 0px 0px 3px 0px;
}

.unavailable {
	text-decoration: line-through;
}