body {
  font-family: "Verdana";
  background-color: #103254;
  color: default;
  margin: 50px; }

table, td, tr {
  border: 1px solid;
  border-spacing: 0px; }

td {
  padding: 3px; }

.field {
  font-size: 12px; }

.head {
  font-weight: bold;
  font-size: 12px; }

.total {
  color: red; }

.subtitle {
  color: white; }

article {
  background-color: #bbccdd;
  width: 500px;
  padding: 20px; }

a {
  font-size: 12px;
  color: default; }

p {
  font-size: 12px;
  margin: 0px 0px 3px 0px; }

.unavailable {
  text-decoration: line-through; }
